<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->

    <!-- Login Form -->
     <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <input type="text" id="login" #name="ngModel" class="fadeIn second" name="login" required placeholder="UserName" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="user.UserName">
<br/>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">User Name is required</small>
      <input type="password" id="password"  #name="ngModel" class="fadeIn third" name="login" required placeholder="password" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="user.password">
     <br/>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Password is required</small>
<br/>
      <input [disabled]="userForm.invalid" type="submit" class="fadeIn fourth" value="Log In" (click) ="success()">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
